<% include ../partials/header %>
	<!-- breadcrumbs start -->
	<nav aria-label="breadcrumb">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Products</li>
			</ol>
		</div>
	</nav>
	<!-- breadcrumbs ends-->
	<section>
		<div class='container'>
			<div class="products">
				<div class="row">
					<!--left panel start-->
					<div class="col-md-3 products-left-panel">
						<!--filter by price start-->
						<div class="animated wow slideInUp p-1" data-wow-delay=".5s">
							<h3>Filter By Price</h3>
							<div id="slider-range">
								<form method='get' action='/products/'>
									<span class='d-inline'>100 </span>
									<input type="range" id="amount-range" class='d-inline' name="amount-range" min="100" max="10000" value="" step="10">
									<span class='d-inline'>10000</span>
								</form>
								<!--<a href="">								               -->
								<!--	<div id="slider-range"></div>							-->
								<!--	<input type="range" step='50' min='100' max='10000' id="amount" placeholder='enter amount' style="border: 0" />-->
								<!--</a>-->
								<!--js files are shifted below from here-->
								<!---->
							</div>
						</div>
						<!--filter by price ends-->

						<!--filter categories start-->
						<section id="category-filter">
							<div class=" animated wow slideInUp py-3 px-1" data-wow-delay=".5s">
								<h3>Categories</h3>
								<ul class="list-unstyled">
									<li><a href="products.html">Best Selling</a> </li>
									<li><a href="products.html">Sale</a> </li>
									<li><a href="products.html">Man</a></li>
									<ul class="list-unstyled pl-4">
										<li><a href="products.html">Accessories</a></li>
										<li><a href="products.html">Coats & Jackets</a></li>
										<li><a href="products.html">Jeans</a> </li>
										<li><a href="products.html">New Arrivals</a> </li>
										<li><a href="products.html">Suits</a> </li>
										<li><a href="products.html">Casual Shirts</a> </li>
									</ul>
									<li><a href="products.html">Woman</a> </li>
									<ul class="list-unstyled pl-4">
										<li><a href="products.html">Accessories</a> </li>
										<li><a href="products.html">New Arrivals</a></li>
										<li><a href="products.html">Dresses</a> </li>
										<li><a href="products.html">Casual Shirts</a> </li>
										<li><a href="products.html">Shorts</a></li>
									</ul>
								</ul>
							</div>
						</section>
						<!--filter categories ends-->

						<!--left side new products section start-->
						<section id="new-collection">
							<div class="animated wow slideInUp px-1" data-wow-delay=".5s">
								<h2 class='pt-3'>New Products</h2>
								<div class="row d-flex flex-wrap pt-4">
									<% products.forEach((product) => { %>
										<div class="col-lg-12 px-0">
											<div class="card p-1 w-100">
												<img class="card-img-top img-responsive" src="<%= product.image %>" alt="<%= product.name %> image">
												<div class="card-body text-center">
													<h2 class="card-title">
														<a href="/products/<%= product._id %>">
															<%= product.name %>
														</a>
													</h2>
													<!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
													<a href="/products/<%= product._id %>" class="btn btn-success px-3 py-2"> view item</a>
												</div>
											</div>
										</div>
										<% }) %>
								</div>
							</div>
						</section>
						<!--left side new products section ends-->

						<!--left side offer start-->
						<section id="ad">
							<div class="ad-position animated wow slideInUp px-1" data-wow-delay=".5s">
								<a href="single.html"><img src="/images/27.jpg" alt=" " class='img-fluid' /></a>
								<div class="ad-position-text">
									<h4>Summer collection</h4>
									<h5><span>55%</span> Flat Discount</h5>
								</div>
							</div>
						</section>
						<!--left side offer ends-->
					</div>
					<!--left panel ends-->

					<!--right panel starts-->
					<div class="col-md-9 products-right-panel">
						<div class="row p-1">
							<div class="col-md-12">
								<!--sort options start-->
								<div class="animated wow slideInRight" data-wow-delay=".5s">
									<div class="float-right mr-md-4 my-2">
										<select id="sort" onchange="change_country(this.value)" class="required">
										<option value="null">Default sorting</option>
										<option value="null">Sort by popularity</option> 
										<option value="null">Sort by average rating</option>					
										<option value="null">Sort by price</option>								
									</select>
									</div>
									<div class="clearfix"> </div>
								</div>
								<!--sort options ends-->
							</div>
						</div>
						<section id="products">
							<div class="row p-1 d-flex flex-wrap">
								<!--products start-->
								<% products.forEach((product) => { %>
									<div class="col-md-4 col-sm-6 px-0">
										<div class="card p-1 w-100">
											<img class="card-img-top img-responsive" src="<%= product.image %>" alt="<%= product.name %> image">
											<div class="card-body text-center">
												<h2 class="card-title">
													<a href="/products/<%= product._id %>">
														<%= product.name %>
													</a>
												</h2>
												<div class="">
													<p>
														<span class="price pr-2 text-muted"><i class="fas fa-rupee-sign"></i><%= product.printed_price %></span>
														<span class="discount pl-2"><i class="fas fa-rupee-sign"></i><%= product.discounted_price %></span>
														<form action='cart/<%= product._id %>' method='post'>
															<input type='hidden' name="product[quantity]" value='1' />
															<input type="submit" class="mx-auto btn btn-warning" value="add to cart" />
														</form>
												</div>
											</div>
										</div>
									</div>
									<% }) %>
										<div class="clearfix"> </div>
										<!--products ends-->

							</div>
						</section>
						<div class="row m-3">
							<div class="col-lg-12">
								<nav class=" animated wow slideInRight" data-wow-delay=".5s" aria-label="Page navigation">
									<ul class="pagination pagination-lg  justify-content-end">
										<% if (current == 1) { %>
											<li class="page-item disabled"><a class="page-link">First</a></li>
											<% } else { %>
												<li class='page-item'><a href="/products<%if(search){%>?search=<%=search%><%}%>" class="page-link">First </a></li>
												<% } %>

													<% if (current == 1) { %>
														<li class="disabled page-item"><a class="page-link">«</a></li>
														<% } else { %>
															<li class='page-item'><a href="/products?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>" class="page-link">«</a></li>
															<% } %>

																<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
																	<% if (i !== 1) { %>
																		<li class="disabled page-item"><a class="page-link">...</a></li>
																		<% } %>
																			<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
																				<% if (i == current) { %>
																					<li class="active page-item">
																						<a class="page-link">
																							<%= i %>
																						</a>
																					</li>
																					<% } else { %>
																						<li class='page-item'>
																							<a href="/products?page=<%= i %><%if(search){%>&search=<%=search%><%}%>" class="page-link">
																								<%= i %>
																							</a>
																						</li>
																						<% } %>
																							<% if (i == Number(current) + 4 && i < pages) { %>
																								<li class="disabled page-item"><a class="page-link">...</a></li>
																								<% } %>
																									<% } %>

																										<% if (current == pages) { %>
																											<li class="disabled page-item"><a class="page-link">»</a></li>
																											<% } else { %>
																												<li class='page-item'><a href="/products?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>" class="page-link">»</a></li>
																												<% } %>

																													<% if (current == pages) { %>
																														<li class="disabled page-item"><a class="page-link">Last</a></li>
																														<% } else { %>
																															<li class='page-item'><a href="/products?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>" class="page-link">Last</a></li>
																															<% } %>
									</ul>
								</nav>
							</div>
						</div>



					</div>
					<!-- right panel end-->
				</div>
				<div class="clearfix"> </div>
			</div>
			<!--pagination-->
		</div>
	</section>
	<script type='text/javascript'>
		// $(window).load(function(){
		// 	$( "#slider-range" ).slider({
		// 		range: true,
		// 		min: 0,
		// 		max: 100000,
		// 		values: [ 20000, 80000 ],
		// 		slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
		// 		}
		// 	});
		//	$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );
		// });
	</script>
	<% include ../partials/footer %>
