<% include ../partials/header %>
	<!-- breadcrumbs start -->
	<nav aria-label="breadcrumb">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Cart</li>
			</ol>
		</div>
	</nav>
	<!-- breadcrumbs ends-->

	<!-- cart -->
	<section class="cart">
		<div class="container">
			<h2 class="animated wow slideInLeft py-3" data-wow-delay=".5s">Shopping Cart <span><%- cart.items.length %></span></h2>
			<div class="table-responsive animated wow slideInUp" data-wow-delay=".5s">
				<table class='table text-center mb-0 table-hover'>
					<thead class='thead-dark'>
						<tr>
							<th>SL No.</th>
							<th>Product</th>
							<th>Quantity</th>
							<th>Product Name</th>
							<th>Price</th>
							<th>Total Price</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% cart.items.forEach((item, idx)=>{ %>
							<tr>
								<td>
									<%- idx + 1 %>
								</td>
								<td><a href="products/<%= item.id %>"><img src="<%= item.image %>" alt=" <%= item.name%>" class="img-responsive" /></a></td>
								<td>
									<div class="quantity-select">
										<div class="entry value-minus">&nbsp;</div>
										<div class="entry value"><span><%= item.quantity %></span></div>
										<div class="entry value-plus active">&nbsp;</div>
									</div>
								</td>
								<td>
									<a href="/products/<%= item.id %>">
										<%= item.name %>
									</a>
								</td>
								<td> <i class="fas fa-rupee-sign"></i>
									<%= item.price %>
								</td>
								<td><i class="fas fa-rupee-sign"></i>
									<%- item.price *  item.quantity %>
								</td>
								<td>
									<i class='fas fa-trash'></i>
								</td>
							</tr>
							<% }) %>
					</tbody>
				</table>
				<hr class='m-0 p-0'>
				<div class="float-right mr-5">
					<table>
						<tr>
							<td class='text-right'><span class="font-weight-bold"> Subtotal (
					<%- cart.items.length %> items )</span> :</td>
							<td>
								<i class='fas px-2 fa-rupee-sign'></i>
								<%= cart.totalPrice %>
							</td>
						</tr>
						<tr>
							<td class='text-right'> Delivery Charges:</td>
							<td><i class='fas px-2 fa-rupee-sign'></i> 138</td>
						</tr>
						<tr>
							<td>
								<hr class=' p-0 m-0'>
							</td>
							<td>
								<hr class=' p-0 m-0'>
							</td>
						</tr>
						<tr>
							<td class='text-right'>Total:</td>
							<td><i class='fas px-2 fa-rupee-sign'></i> <span class="text-danger"> <%- cart.totalPrice + 138 %></span></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="my-3 py-3">
				<a href="/products" class='bg-warning px-4 py-2'>Continue Shopping</a>
				<a href="/checkout" class='bg-warning px-4 float-right mr-5  py-2'>Checkout</a>
			</div>

		</div>
	</section>
	<!-- //checkout -->

	<!--quantity-->
	<script>
		// $('.value-plus').on('click', function() {
		// 	var divUpd = $(this).parent().find('.value'),
		// 		newVal = parseInt(divUpd.text(), 10) + 1;
		// 	divUpd.text(newVal);
		// });

		// $('.value-minus').on('click', function() {
		// 	var divUpd = $(this).parent().find('.value'),
		// 		newVal = parseInt(divUpd.text(), 10) - 1;
		// 	if (newVal >= 1) divUpd.text(newVal);
		// });
	</script>
	<!--quantity-->
	<% include ../partials/footer %>
